@page "/"
@using WebTemplate.Core.Domain.Entities
@using WebTemplate.UseCases.Products.Commands
@using WebTemplate.UseCases.Products.Queries
@inject IJSRuntime JsRuntime
@inject CreateProductCommandHandler CreateProductCommandHandler
@inject GetProductsByNameQueryHandler GetProductsByNameQueryHandler

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Add new product</p>
<br />

<MudGrid>
    <MudItem xl="12" xs="6">
        <MudInput @bind-Value="@ProductName" Placeholder="Product name" />
        <MudInput @bind-Value="@ProductPrice" Placeholder="Product price" />
    </MudItem>

    <MudItem xl="12" xs="6">
        <MudButton OnClick="@AddProduct">Add new product</MudButton>
    </MudItem>
</MudGrid>

<hr />

<MudGrid>
    <MudItem xl="12" xs="6">
        <MudInput @bind-Value="@NameFilter" Placeholder="Product name" />
    </MudItem>

    <MudItem xl="12" xs="6">
        <MudButton OnClick="@ListProductsWithname">Filter</MudButton>
    </MudItem>
</MudGrid>

<MudTable T="Product" Items="Products">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Price</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Price">@context.Price</MudTd>
    </RowTemplate>
</MudTable>

@code {
    public string? ProductName { get; set; }
    public decimal? ProductPrice { get; set; }
    public string? NameFilter { get; set; }

    public List<Product> Products = new();

    public async Task AddProduct()
    {
        var command = new CreateProductCommand(new()
            {
                Name = ProductName ?? "",
                Price = ProductPrice ?? 0
            });

        var result = await CreateProductCommandHandler.HandleAsync(command, CancellationToken.None);

        if (result.IsSuccess(out Product value))
            await JsRuntime.InvokeVoidAsync("alert", $"Creation was successful! Product id: {value.Id}");
        else
            await JsRuntime.InvokeVoidAsync("alert", "Creation failed!");

        ProductName = null;
        ProductPrice = null;
        StateHasChanged();
    }

    public async Task ListProductsWithname()
    {
        var query = new GetProductsByNameQuery(NameFilter ?? "");
        var result = await GetProductsByNameQueryHandler.HandleAsync(query, CancellationToken.None);

        if (result.IsSuccess(out IEnumerable<Product> value))
            Products = value.ToList();
        else
            Products = new();
    }
}
